<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
</head>
<body>

<div>
    <div>
        <h2>Trader</h2>
        <label for="trader-first-name">Trader First Name:</label>
        <span id="trader-first-name" th:text="${comment.getTrader().getFirstName()}"></span>
        <br>
        <label for="trader-last-name">Trader Last Name:</label>
        <span id="trader-last-name" th:text="${comment.getTrader().getLastName()}"></span>
    </div>
    <h3>Comment</h3>
    <label for="comment-message">Comment message:</label>
    <span id="comment-message" th:text="${comment.getMessage()}"></span>
    <br>
    <label for="comment-created-at">Comment creation date:</label>
    <span id="comment-created-at" th:text="${comment.getCreatedAt()}"></span>
</div>
</body>
</html>