<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="Put" th:action="@{/games/{id}/edit(id=${game.getId()})}" th:object="${game}">
    <label for="name">First Name</label>
    <input id="name" type="text" th:field="*{name}">
    <div style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit"
                       name="create-submit"
                       id="create-submit"
                       class="form-control btn btn-info"
                       value="Update">
            </div>
        </div>
    </div>
</form>
<a th:href="@{/games}">
    <button>Cancel</button>
</a>
</body>
</html>