<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game objects</title>
</head>
<body>
<div th:each="user : ${users}">
    <h3>Trader</h3>
    <label for="user-first-name">First Name:</label>
    <span id="user-first-name" th:text="${user.getFirstName()}"></span>
    <br>
    <label for="user-last-name">Last Name:</label>
    <span id="user-last-name" th:text="${user.getLastName()}"></span>
    <br>
    <h3>Game Objects</h3>
    <div th:each="object: ${user.getGameObjects()}">
        <div th:if="${object.getApproved() eq true}">
            <label for="game-name">Game:</label>
            <span id="game-name" th:text="${object.getGame().getName()}"></span>
            <br>
            <label for="object-title">Title:</label>
            <span id="object-title" th:text="${object.getTitle()}"></span>
            <br>
            <br>
        </div>
    </div>
    <a th:href="@{/users/{traderId}/comments(traderId= ${user.getId()})}">
    <button>Comments</button>
</a>
</div>
</body>
</html>