<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Approve object</title>
</head>
<body>
<form th:method="Put" th:action="@{/admin/objects/{objectId}/approve(objectId=${id})}">
    <h3>Are you sure you want to approve this object?</h3>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit"
                       name="delete-submit"
                       id="delete-submit"
                       class="form-control btn btn-info"
                       value="Approve">
            </div>
        </div>
    </div>
</form>
<a th:href="@{/admin/objects}">
    <button>Cancel</button>
</a>
</body>
</html>