<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New game object</title>
</head>
<body>
<form method="post" th:action="@{/objects/game/{id}/add(id=${gameId})}" th:object="${gameObject}">
    <label for="title">Title</label>
    <input id="title" type="text" th:field="*{title}">
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</div>
    <br>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit"
                       name="add-object-submit"
                       id="add-object"
                       class="form-control btn btn-info"
                       value="Add object">
            </div>
        </div>
    </div>
</form>
</body>
</html>