<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
</head>
<body>
<form method="post" th:action="@{/auth/reset}" th:object="${resetForm}" >
    <label for="code">Code:</label>
    <input id="code" type="text" th:field="*{code}">
    <div style="color: red;" th:if="${#fields.hasErrors('code')}" th:errors="*{code}">Code error</div>
    <br>
    <label for="new-password">New Password:</label>
    <input id="new-password" type="password" th:field="*{newPassword}">
    <div style="color: red;" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">New Password error</div>
    <br>
    <label for="confirm-password">Confirm Password:</label>
    <input id="confirm-password" type="password" th:field="*{confirmNewPassword}">
    <div style="color: red;" th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}">Confirm Password error</div>
    <br>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit"
                       name="submit"
                       id="submit"
                       class="form-control btn btn-info"
                       value="Reset password">
            </div>
        </div>
    </div>
</form>
</body>
</html>