<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New game object</title>
</head>
<body>
<form method="post" th:action="@{/objects/game/{gameId}(gameId=${game.getId()})}" th:object="${object}">
    <!--    <div style="color: red" th:if="${#fields.hasErrors()}">Incorrect email or password.</div>-->
    <label for="title">Title</label>
    <input id="title" type="text" th:field="*{title}">
    <br>
    <label for="game">Game</label>
    <span id="game" th:text="${game.getName()}"></span>
    <br>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit"
                       name="add-object-submit"
                       id="add-object"
                       class="form-control btn btn-info"
                       value="Add object">
            </div>
        </div>
    </div>
</form>
</body>
</html>